.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
  margin-bottom: 10px;
}
.loader:before {
  content:"Loading images, please wait..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}